<ion-content>

    <div [class.loaded]="true">
      <div *ngIf="trails.length === 0" class="empty">
        <p>No nearby trails found.</p>
      </div>
  
      <div *ngIf="trails.length > 0">
        <ion-list>
          <ion-item *ngFor="let trail of trails">
            <ion-label>
              <h2>{{ trail.name }}</h2>
              <p>{{ trail.location }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
  
    <div [class.my-class]="true"></div>
  
  </ion-content>
  