<ion-header>
    <ion-toolbar>
      <ion-title>My Trails</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <div *ngIf="trails.length === 0" class="empty">
      <p>No saved trails yet.</p>
    </div>
  
    <div *ngIf="trails.length > 0">
      <div cdkDropList (cdkDropListDropped)="drop($event)">
        <ion-item *ngFor="let trail of trails; let i = index" cdkDrag>
          <ion-label>
            <h2>{{ trail.name }}</h2>
            <p>{{ trail.location }}</p>
          </ion-label>
          <ion-button color="danger" fill="outline" (click)="deleteTrail(i)">
            Delete
          </ion-button>
        </ion-item>
      </div>
    </div>
  
  </ion-content>
  