<ion-header>
    <ion-toolbar>
      <ion-title>Trail Details</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-button expand="block" (click)="takePhoto()">📷 Take Photo</ion-button>
  
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let photo of photos">
          <ion-img [src]="photo"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-button expand="block" color="success" (click)="saveTrail()">Save Trail</ion-button>
  
  </ion-content>
  